#carouselWrapperFade {
    height: 510px;
    font-family: 'Signika', sans-serif;
}

.carousel-caption {
    transform: translateY(-120%);
    max-height: 390px;
    line-height: 400px;
}

h1 a, h1 a:hover {
    color: white;
    text-decoration: none;
}

.carousel-caption h1 {
    font-size: 65px;
}

.carousel-item div {
    z-index: 0;
    height: 490px;
}

.img1 {
    background-image: url(./img/HaLongBay.jpg);
    background-size: cover;
    background-position: center;
}

.sr-only{
    z-index: 10;
}